@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

/* variables */
:root {
    --dark-blue: rgba(23, 35, 57, 1);
    --bg-1: rgba(250,248,246);

}

/* general style set-up. Note: Since this is a static one page website (with no planned future improvements, I'll be doing all the styling on this page.*/

body {
    font-family: 'Epilogue', sans-serif;
}

.btn-def {
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}

.btn-header {
    font-size: 0.875rem;
    color: var(--dark-blue);
    background-color: var(--bg-1);
    border: 1px solid var(--dark-blue);
    width: 11.375rem;
    height: 3rem;
}

.btn-header:hover {
    color: var(--bg-1);
    background-color: var(--dark-blue);
}

/* header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-1);
    padding: 1.5rem 1rem 3.5rem 1rem;
}

.logo {
    width: 5.063rem;
}

@media only screen and (min-width: 48rem) {
    header {
        padding: 2.5rem 2.5rem 5rem 2.5rem;
    }
}

@media only screen and (min-width: 80rem) {
    header {
        padding: 3.125rem 10.313rem 4.188rem 10.313rem;
    }
}

/* hero */
